<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="D:\Bureaublad\folders\school\C-Sharp\tournamentApplications\data"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournaments" connectionString="Server=JOSÉ;Database=Tournaments;Trusted_connection=True;"/>
	</connectionStrings>
</configuration>