<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="C:\Users\JUD\Documents\JUD - .NET - 101 (112022 - 3112022)\tournamentApplications\data"/>
		<add key="greaterWins" value="1"/>
		<!--<add key="senderEmail" value="dariovanhasselt@hotmail.be"/>
		<add key="senderDisplayName" value="Dario Van Hasselt"/>-->
	</appSettings>
	<connectionStrings>
		<add name="Tournaments" connectionString="Server=308PC05-19;Database=Tournaments;Trusted_connection=True;"/>
	</connectionStrings> <!--
	<system.net>
		<mailSettings>
			<smtp deliveryMethod ="Network">
				<network host="127.0.0.1" userName="Dario" password="testing" port="25" enableSsl="false"/>
			</smtp>
		</mailSettings>
	</system.net>
	-->
</configuration>